.hero{
    height: 90vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 100%), url(/images/bg/Concrete\ Fencing.jpeg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 760px){
      height: 40em;
    }

    .content{
        height: 100%;
        gap: 2em;

        h1{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 3.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            @media(max-width: 760px){
                font-size: 2rem;
            }
        }

        p{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin: 0;
            @media(max-width: 760px){
                font-size: 1rem;
            }
        }

        button{
            display: flex;
            width: 12.0625rem;
            height: 3.9375rem;
            padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 0.625rem;
            background-color: #D21D00;

            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            transition: all .3s ease-out;
        }

        button:hover{
            transform: scale(1.1);
        }
    }
}



.about-us{
    background: url(/images/bg/white-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        height: 100%;

        .row{

            .image-section{
                position: relative;
                @media(max-width: 760px){
                  height: 40em;
                }

                @media(max-width: 760px){
                    height: 40em;
                }
                img{
                    width: 19.3em;
                    height: 26.3em;
                    object-fit: cover;

                    @media(max-width: 760px){
                        width: 15em;
                        height: 23em;
                    }
                 }

                 .img-1{
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 1.875rem;
                 }

                 .img-2{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-radius: 1.875rem;
                    border: 6px solid #FFF;
                    background: #FFF;
                    box-shadow: -2px 6px 8px 0px rgba(0, 0, 0, 0.37);
                 }
            }


            .content{
                position: relative;
                hr{
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 0.3125rem;
                    height: 6.1875rem;
                    border: 1px solid #D21D00;
                    background-color: #D21D00;
                    opacity: 100%;
                }
                h5{
                    color: #D21D00;
                    font-family: Poppins;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }

                h2{
                    margin: 0;
                    color: #000;
                    font-family: Poppins;
                    font-size: 4.125rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-top: -20px;
                }

                .text{
                    p{
                        color: #4D4D4D;
                        font-family: Poppins;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .button{
                    button{
                        display: flex;
                        width: 12.0625rem;
                        height: 3.9375rem;
                        padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 0.625rem;
                        background-color: #D21D00;
            
                        color: #FFF;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
            
                        transition: all .3s ease-out;
                    }
                }
            }
        }
    }
}

.why-choose-us{
    .heading{
        h1{
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        hr{
                    width: 8.1875rem;
                    height: 0.3125rem;
                    border: 1px solid #D21D00;
                    background-color: #D21D00;
                    opacity: 100%;
        }
    }

    .features-cards{
        flex-wrap: wrap;
        row-gap: 1em;
        .item{
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 14.75rem;
            height: 14.75em;
            background-color: white;
            align-items: center;
            justify-content: center;
            border-radius: 0.625rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
            transition: all .3s ease-out;
        }
        .item:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        @media (max-width: 575px) {
           .item{
            margin: 0 auto;
           }
        }
    }
}

.our-services-main{
    background: #F9F9F9;
}

.our-services{
    
    .heading{
        position: relative;
        h5{
            color: #4D4D4D;
            font-family: Poppins;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h2{
            margin: 0;
            color: #000;
            font-family: Poppins;
            font-size: 3.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: -20px;
        }

        hr{
            position: absolute;
            top: -20px;
            left: 0;
            width: 0.3125rem;
            height: 5.625rem;
            background: #D21D00;
            opacity: 100%;
        }
    }

    img{
        width: 25rem;
        height: 25rem;
        object-fit: cover;

        @media(max-width: 760px){
            width: 15rem;
            height: 15rem;
        }
    }

    button{
        display: flex;
        width: 12.0625rem;
        height: 3.9375rem;
        padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background-color: #D21D00;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        transition: all .3s ease-out;
    }

    button:hover{
        transform: scale(1.1);
    }
}

.our-works{
    .heading{
        position: relative;
        h5{
            color: #4D4D4D;
            font-family: Poppins;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h2{
            margin: 0;
            color: #000;
            font-family: Poppins;
            font-size: 3.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: -20px;
        }

        hr{
            position: absolute;
            top: -20px;
            left: 0;
            width: 0.3125rem;
            height: 5.625rem;
            background: #D21D00;
            opacity: 100%;
        }
    }

    button{
        display: flex;
        width: 12.0625rem;
        height: 3.9375rem;
        padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background-color: #D21D00;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        transition: all .3s ease-out;
    }

    button:hover{
        transform: scale(1.1);
    }

    .gallery{
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 2em;
        img{
            width: 24em;
            height: 24em;
            object-fit: cover;
        }
    }
}

.contact-us{
    .heading{
        h1{
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        h6{
            color: #4D4D4D;
            text-align: center;
            font-family: Poppins;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        hr{
                    width: 8.1875rem;
                    height: 0.3125rem;
                    border: 1px solid #D21D00;
                    background-color: #D21D00;
                    opacity: 100%;
        }
    }

    .contact-cards{
        gap: 1em;
        .item{
            width: 19rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 10rem;
            @media(max-width: 760px){
                margin: 0 auto;
            }
        }
    }
}

footer{
    background-color: black;

    .row{
        .logo{
            color: #FFF;
            font-family: Poppins;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: center;
        }

        .navigation{
           h2{
            color: #FFF;
            font-family: Poppins;
            font-size: 1.2625rem;
            font-weight: 700;
            line-height: normal;
           }
           ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.8em;

            li{
                color: #FFF;
                font-family: Poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
           }
        }

        .contact-us{
            img{
                margin-right: 10px;
            }
        }

    }

    
    @media(max-width: 760px){
        text-align: center;
    }
    
}