body {
  font-family: "Poppins";
}

p {
  margin: 0;
}

span {
  color: #D21D00;
}

.padding-top {
  padding-top: 4.6875em;
}

.padding-bottom {
  padding-bottom: 4.6875em;
}

.top-section {
  height: 50px;
  padding: 0px;
}
@media (max-width: 560px) {
  .top-section {
    padding: 0px 20px;
  }
}
@media (max-width: 560px) {
  .top-section .social-icons img {
    width: 1.3em;
    height: 1.3em;
  }
}
.top-section .contact {
  gap: 2.4em;
}
.top-section .contact p {
  color: #000;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top-section .contact .mail {
  gap: 0.6em;
}
.top-section .contact .call {
  gap: 0.6em;
}
@media (max-width: 760px) {
  .top-section .contact {
    gap: 1em;
  }
  .top-section .contact p {
    font-size: 0.4em;
  }
  .top-section .contact .call {
    gap: 0.2em;
  }
  .top-section .contact .call img {
    width: 1em;
    height: 1em;
  }
  .top-section .contact .mail {
    gap: 0.2em;
  }
  .top-section .contact .mail img {
    width: 1.3em;
    height: 1.3em;
  }
}

header {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
header .container-fluid {
  padding: 0;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .navbar-collapse .navbar-nav {
  gap: 0.5em;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #D21D00;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease-out;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #000;
}
header .navbar-collapse .navbar-nav .nav-item .active {
  color: #000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 560px) {
  header {
    padding: 0px 20px;
  }
}

.hero {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 100%), url(/images/bg/Concrete\ Fencing.jpeg), lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 760px) {
  .hero {
    height: 40em;
  }
}
.hero .content {
  height: 100%;
  gap: 2em;
}
.hero .content h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 3.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
@media (max-width: 760px) {
  .hero .content h1 {
    font-size: 2rem;
  }
}
.hero .content p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
@media (max-width: 760px) {
  .hero .content p {
    font-size: 1rem;
  }
}
.hero .content button {
  display: flex;
  width: 12.0625rem;
  height: 3.9375rem;
  padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: #D21D00;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;
}
.hero .content button:hover {
  transform: scale(1.1);
}

.about-us {
  background: url(/images/bg/white-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us .container {
  height: 100%;
}
.about-us .container .row .image-section {
  position: relative;
}
@media (max-width: 760px) {
  .about-us .container .row .image-section {
    height: 40em;
  }
}
@media (max-width: 760px) {
  .about-us .container .row .image-section {
    height: 40em;
  }
}
.about-us .container .row .image-section img {
  width: 19.3em;
  height: 26.3em;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 760px) {
  .about-us .container .row .image-section img {
    width: 15em;
    height: 23em;
  }
}
.about-us .container .row .image-section .img-1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.875rem;
}
.about-us .container .row .image-section .img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1.875rem;
  border: 6px solid #FFF;
  background: #FFF;
  box-shadow: -2px 6px 8px 0px rgba(0, 0, 0, 0.37);
}
.about-us .container .row .content {
  position: relative;
}
.about-us .container .row .content hr {
  position: absolute;
  top: -10px;
  left: 0;
  width: 0.3125rem;
  height: 6.1875rem;
  border: 1px solid #D21D00;
  background-color: #D21D00;
  opacity: 100%;
}
.about-us .container .row .content h5 {
  color: #D21D00;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.about-us .container .row .content h2 {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 4.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -20px;
}
.about-us .container .row .content .text p {
  color: #4D4D4D;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us .container .row .content .button button {
  display: flex;
  width: 12.0625rem;
  height: 3.9375rem;
  padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: #D21D00;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;
}

.why-choose-us .heading h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.why-choose-us .heading hr {
  width: 8.1875rem;
  height: 0.3125rem;
  border: 1px solid #D21D00;
  background-color: #D21D00;
  opacity: 100%;
}
.why-choose-us .features-cards {
  flex-wrap: wrap;
  row-gap: 1em;
}
.why-choose-us .features-cards .item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 14.75rem;
  height: 14.75em;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
  transition: all 0.3s ease-out;
}
.why-choose-us .features-cards .item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 575px) {
  .why-choose-us .features-cards .item {
    margin: 0 auto;
  }
}

.our-services-main {
  background: #F9F9F9;
}

.our-services .heading {
  position: relative;
}
.our-services .heading h5 {
  color: #4D4D4D;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-services .heading h2 {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -20px;
}
@media (max-width: 960px) {
  .our-services .heading h2 {
    margin-top: 0.4em;
  }
}
.our-services .heading hr {
  position: absolute;
  top: -20px;
  left: 0;
  width: 0.3125rem;
  height: 5.625rem;
  background: #D21D00;
  opacity: 100%;
}
.our-services img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 760px) {
  .our-services img {
    width: 15rem;
    height: 15rem;
  }
}
.our-services button {
  display: flex;
  width: 12.0625rem;
  height: 3.9375rem;
  padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: #D21D00;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;
}
.our-services button:hover {
  transform: scale(1.1);
}

.our-works .heading {
  position: relative;
}
.our-works .heading h5 {
  color: #4D4D4D;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-works .heading h2 {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -20px;
}
.our-works .heading hr {
  position: absolute;
  top: -20px;
  left: 0;
  width: 0.3125rem;
  height: 5.625rem;
  background: #D21D00;
  opacity: 100%;
}
.our-works button {
  display: flex;
  width: 12.0625rem;
  height: 3.9375rem;
  padding: 0.8125rem 0.9375rem 0.875rem 0.875rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: #D21D00;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;
}
.our-works button:hover {
  transform: scale(1.1);
}
.our-works .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 2em;
}
.our-works .gallery img {
  width: 24em;
  height: 24em;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-us .heading h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us .heading h6 {
  color: #4D4D4D;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us .heading hr {
  width: 8.1875rem;
  height: 0.3125rem;
  border: 1px solid #D21D00;
  background-color: #D21D00;
  opacity: 100%;
}
.contact-us .contact-cards {
  gap: 1em;
}
.contact-us .contact-cards .item {
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
@media (max-width: 760px) {
  .contact-us .contact-cards .item {
    margin: 0 auto;
  }
}

footer {
  background-color: black;
}
footer .row .logo {
  color: #FFF;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}
footer .row .navigation h2 {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.2625rem;
  font-weight: 700;
  line-height: normal;
}
footer .row .navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
footer .row .navigation ul li {
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .row .contact-us img {
  margin-right: 10px;
}
@media (max-width: 760px) {
  footer {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */